<div class="user-info-container">
    <div class="bio">
        <h2>Bio</h2>
        <p><%= user.bio %></p>
    </div>

    <%= link_to "Create a new post", new_user_post_path(user), id: "all" %>
    <div class="display2 posts-relaxed">
        <% user.recent_three_posts.each do |post, idx| %>
            <div class="post">
                <h2><%= link_to "Post: #{post.title}", user_post_path(post.author, post) %></h2>
                <p><%= post.text %></p>
            </div>
        <% end %>    
    </div>
    <%= link_to "See all posts", user_posts_path(user), id: "all" %>
</div>