<div class="user-info-container">
    <div class="post">
        <h2><%= link_to "Post: #{post.title}", user_post_path(post.author, post) %></h2>
        <% if post.text.length > 100 %>
            <p><%= post.text.truncate(100) %>...</p>
        <% else %>
            <p><%= post.text %></p>
        <% end %>
        <div class="reaction">
            <p>Comments: <%= post.comments_counter.to_i %></p> 
            <p>Likes: <%= post.likes_counter.to_i %></p> 
        </div>
    </div>
</div>