<div class="bloggers">
    <h1>Bloggers</h1>

    
    <div class="users">
        <%= flash[:success] %>
        <%= flash[:error] %>
        <%= render partial: 'posts/post_info', locals: {post: @post} %>
        <%= render partial: 'posts/comments_info', locals: {post: @post} %>
        <h2>New comment </h2>
        <%= render 'comments/new', comment: @comment %>
    </div>
    
</div>